/* ===========================================
 * Import all in partials
 * ===========================================*/

// partials
@import 'variables';
// mixin
@import 'mixin/color-mixin';
@import 'mixin/font-mixin';
@import 'mixin/utility-mixin';
@import 'mixin/kodein';
@import 'mixin/rem';
// function 
@import 'function/responsive';
// overrides/base
@import 'font';
@import 'icons';
@import 'override';
@import 'btn';
// remove padding on mobile
#primary,
.site-content > .main-content-area,
#content.container {
    @include breakpoint('xs') {
        @extend .nopadding;
    }
}

/* change the footer background color */
#footer-area, 
#colophon {
	background-color: $main-color;
}

// change the color when the scroll to top btn is hovered
.scroll-to-top:hover {
    background: $main-color;
}

// remove border
#footer-area ul li {
    border: none;
}

.special-img {
    position: relative;
    padding: 0 !important;
    @include breakpoint('sm') {
        /* create the overlay shadow with :after */
        &:after {
            content: '';
            z-index: 10;
            display: block;
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.5);
            cursor: pointer;
        }
        /* when hovered remove the overlay by manipulating the opacity */
        &:hover:after {
            background: rgba(0, 0, 0, 0);
            @include transition(0.3s);
            cursor: pointer;
        }
    }
    img {
        max-width: 100%;
        width: 100%;
    }
}
