/* ===========================================
 * Override Vendors CSS
 * ===========================================*/

/* 
* make the arrow sits on top of the content and not on side
* this fixes the extra width on the sides for the whole page
*/
.slick-slider {
     margin-bottom: 0;
}

// fixed the gap after the slick slider !important
.slick-slide {
    height: auto;
}
.slick-prev,
.slick-next {
    z-index: 2;
    // padding: 75px;
    @media (max-width: 768px) {
        display: none !important;
    }
}

.slick-next {
    position: absolute;
    right: 25px;
    width: 30px;
    &:before {
        // font-family: 'Glyphicons Halflings';
        // content: '\e080';
        font: normal normal normal 14px/1 FontAwesome;
        content: "\f138";
        color: #fff;
        font-size: 30px;
    }
}

.slick-prev {
    left: 25px;
    position: absolute;
    width: 30px;
    &:before {
        // font-family: 'Glyphicons Halflings';
        // content: '\e079';
        font: normal normal normal 14px/1 FontAwesome;
        content: "\f137";
        color: #fff;
        font-size: 30px;
    }
}
.slick-dots {
    bottom: 0;
    margin-bottom: 20px;
}
.slick-dots li button {
    color: #fff;
}
.slick-dots li button:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f111";
    color: #main-color;
    opacity: 1;
    font-size: 20px;
}

.slick-dots li.slick-active button:before {
    color: #fff;
}

/* ---------------------------- */

/* bootstrap override -- */

// remove margin bottom from the navbar
.navbar {
    margin-bottom: 0;
}

