/* ===========================================
 * List of Variables
 * ===========================================*/

/*colors--*/
$main-color: #53094b; //purple
$secondary-color: lighten($main-color, 17%); //light purple
$secondary-color: #a01090; //pink
