/* ===========================================
 * List of Variables
 * ===========================================*/

/*colors--*/
$main-color: #53094b; //purple
$secondary-color: darken($main-color, 8%); //light purple
$third-color: #a01090; //pink
