/* ===========================================
 * Artikel SCSS
 * ===========================================*/

.da3-artikel {
    .item-list {
        &-readmore {
            margin-top: 1em;
            color: #fff;
            text-align: right;
            padding-bottom: 2em;
            .btn-primary {
                background: $main-color;
                border-color: $main-color;
                &:hover {
                    outline: 5px auto -webkit-focus-ring-color;
                    outline-offset: -2px;
                    background: darken($main-color, 5%);
                }
            }
        }
        &:after {
            content: " ";
            border-top: 1px solid #53094b;
            display: block;
        }
    }
    .entry-content {
        margin-top: 0;
    }
    .page-header {
        margin-bottom: 0;
    }
}
