/* ===========================================
 * Jury SCSS
 * ===========================================*/

.da3-jury {
    // remove the space between the menu and content
    #content {
        margin-top: 0; 
    }
    .page-title {
        background: $main-color;
        padding-left: 1.2em;
        padding-right: 1.2em;
        text-align: center;
        > h1 {
            margin: 0;
            @extend .spacepad;
            color: #fff;
        }
    }
    // select the page title (img)
    .site-main > img {
        @media (max-width: 768px) {
            margin: 0 auto;
        }
    }
    .juryHover {
        @extend .special-img;
        &:after {
            background: rgba(160, 16, 144, 0.7);
        }
    }
    .item {
        @extend .spacemar;
        .item-list {
            color: $main-color;
            @extend .spacepad;
            &-img {
                @extend .col-xs-12;
                @extend .col-sm-5;
                @extend .center-block;
                max-width: 400px;
                position: relative;
                margin-bottom: 2em; //to push the border down
            }
            &-text {
                @extend .col-xs-12;
                @extend .col-sm-7;
                position: relative;
                margin-bottom: 2em; //to push the border down
                @include breakpoint('xs') {
                    margin-top: 10px;
                }
            }
            &:nth-child(even) {
                > .item-list-img {
                    float: right;
                }
            }
            &:after {
                content: " ";
                border-top: 1px solid $main-color;
                display: block;
                // margin-top: 15px;
            }
            &-text-title {
                @extend .h2;
                margin-top: 0;
                text-transform: capitalize;
            }
        }
    }
}
