/* ===========================================
 * Kontestan SCSS
 * =========================================== */

.da3-kontestan {
    .item {
        @extend .spacemar;
    }
    .item-list {
        position: relative;
        overflow: hidden;
        @extend .nopadding;

        &:hover {
            .item-list-name {
                @include breakpoint('sm') {
                    bottom: 0;
                }
            }
        }
        &-name {
            background: rgba(83, 9, 75, 0.9);
            position: absolute;
            padding: 10px 20px;
            color: #fff;
            width: 100%;
            bottom: 0;
            text-align: center;
            @include transition(0.3s);
            @include breakpoint('sm') {
                bottom: -10em;
                text-align: left;
            }
        }
    }
}
