/* ===========================================
 * Video SCSS
 * ===========================================*/

.single-format-video {
    .entry-header {
        margin-bottom: 0;
        padding-bottom: 0;
        overflow: hidden;
        max-width: 1920px;
    }
    .entry-content {
        margin-top: 0;
        .entry-title {
            margin-top: 0;
        }
    }
}

.da3-video {
    .entry-header {
        margin-bottom: .5em;
        padding-bottom: 0;
    }
    .entry-content {
        margin-top: 0;
        .entry-title {
            margin-top: 0;
        }
    }
}
