/* ===========================================
 * Header (logo & megamenu)
 * ===========================================*/

//remove the border/line for the header
.navbar.navbar-default {
    border: none;
}

.navbar-default {
    .navbar-nav {
        a {
            font-weight: 700;
            color: $main-color;
			@include spacepad(1px);
        }
        > .active {
            @include breakpoint('sm') {
                a {
                    border: 2px solid $main-color;
                    background: #fff;
                    &:focus,
                    &:hover {
                        border: 2px solid $main-color;
                        background: #fff;
                    }
                }
            }
            @include breakpoint('xs') {
                a {
                    background-color: $main-color;
                    color: #fff;
                }
            }
        }
    }
}

//push the border down on mobile
#logo {
    @include breakpoint('xs') {
        padding-bottom: 10px;
    }
}
